repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
        args:
          - "--report-format=json"
          - "--report-path=gitleaks-report.json"
