name: GitGuardian Secrets Scan

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]


permissions:
  contents: read
  security-events: write 
  pull-requests: write   

jobs:
  secret-scan:
    name: Secret Detection
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: GitGuardian Scan (Json output)
        id: ggshield
        uses: GitGuardian/ggshield-action@v1
        with:
          args: --format json --output ggshield-report.json
        env:
          GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}
        continue-on-error: true 

      - name: Upload Scan Report as Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: gitguardian-report
          path: ggshield-report.json

      - name: Check for Secrets and Fail
        if: always()
        run: |
          if [ -f ggshield-report.json ]; then
             echo "Raport wygenerowany."
          else
             echo "❌ Błąd krytyczny: Raport nie został wygenerowany."
             exit 1
          fi

      - name: Security Gate (Fail if secrets found)
        if: always()
        run: |
          if [ "${{ steps.ggshield.outcome }}" == "failure" ]; then
             echo "BLOKADA: Wykryto sekrety."
             exit 1
          else
             echo "Brak sekretów w kodzie."
          fi